#carbonads * {
  margin: initial;
  padding: initial;
  text-align: center;
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  display: inline-block;
  font-size: 13px;
  max-height: 200px;
}

#carbonads a,
#carbonads a:hover {
  color: #444;
  text-decoration: none;
}

#carbonads > span {
  display: grid;
  max-width: 200px;
  padding: 1.5em;
  box-sizing: border-box;
}

#carbonads img {
  margin: auto;
  border-radius: 5%;
}

#carbonads .carbon-wrap {
  display: grid;
  row-gap: 1em;
  height: 220px;
}
#carbonads .carbon-text {
  font-size: 1em;
  margin-bottom: 5em;
}

.dark #carbonads .carbon-text {
  color: #e2e8f0;
}

#carbonads .carbon-poweredby {
  opacity: 0.5;
  font-size: 0.725em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05ch;
}

.dark #carbonads .carbon-poweredby {
  color: #e2e8f0;
}
